@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<<<<<<< HEAD
<p>Use this page to detail your site's privacy policy.</p>
=======
<p>Use this page to detail your site's privacy policy.</p>
>>>>>>> d2817a6381a9ac03b7009984a0f352cb75ecedb8
